In [13]:
import pandas as pd

#'洲名','國家','日期','總確診數','新增確診數'
world = pd.read_csv('world.csv')
world
wd2 = world[['洲名','國家','日期','總確診數','新增確診數']]
wd3=wd2.query('國家=="台灣"')
wd4=wd3.sort_values(by='新增確診數',ascending=False)
wd5=wd4[0:5]
wd5

        洲名  國家          日期     總確診數   新增確診數
164835  亞洲  台灣  2022-05-14   699824  128954
164830  亞洲  台灣  2022-05-09   397504  128935
164848  亞洲  台灣  2022-05-27  1735067   94796
164840  亞洲  台灣  2022-05-19  1070561   89420
164846  亞洲  台灣  2022-05-25  1558380   89361

In [14]:
import pandas as pd

In [17]:
wd6 = wd5.set_index('日期')

In [18]:
wd6

            洲名  國家     總確診數   新增確診數
日期
2022-05-14  亞洲  台灣   699824  128954
2022-05-09  亞洲  台灣   397504  128935
2022-05-27  亞洲  台灣  1735067   94796
2022-05-19  亞洲  台灣  1070561   89420
2022-05-25  亞洲  台灣  1558380   89361